grant {
    //ml-commons client
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "setContextClassLoader";

    //nsparse JNI native library
    permission java.lang.RuntimePermission "loadLibrary.*";
    permission java.io.FilePermission "${opensearch.path.home}/plugins/opensearch-neural-search/-", "read";
    permission java.io.FilePermission "/proc/meminfo", "read";
    permission java.io.FilePermission "${java.io.tmpdir}/-", "read,write,delete";
};
